{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/builds" method="post">
    <fieldset>
      <legend>Edit {{ build.name }}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="Enter Build Name"
          value="{{ build.name }}"
        />
      </label>
      <br>
      <br>
      <br>
      <label>
        Mythic Item:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Mythic Item"
          value="{{ build.item1 }}"
        />
      </label>
      <br>
      <label>
        Boots:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Boots"
          value="{{ build.boots }}"
        />
      </label>
      <br>
      <label>
        Item 3:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Item 3"
          value="{{ build.item3 }}"
        />
      </label>
      <br>
      <label>
        Item 4:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Item 4"
          value="{{ build.item4 }}"
        />
      </label>
      <br>
      <label>
        Item 5:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Item 5"
          value="{{ build.item5 }}"
        />
      </label>
      <br>
      <label>
        Item 6:<input
          type="text"
          name="ITEMS"
          placeholder="Enter Item 6"
          value="{{ build.item6 }}"
        />
      </label>
      <br>
    </fieldset>
    <input type="submit" value="Create New Build" />
  </form>
</div>
{% endblock %}